.course-list-column {
  padding: 30px 40px 35px;
}

.sidebar-column {
  padding: 0 var(--pgn-spacing-spacer-3) 0 var(--pgn-spacing-spacer-1);

  &.not-collapsed {
    padding-top: var(--pgn-spacing-spacer-2);

    & >:first-child {
      margin-top: var(--pgn-spacing-spacer-5-5);
    }
  }
}
.course-list-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
  padding: 40px 20px;
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    color: var(#009900);
    margin: 0 !important; // Override .mie-3 margin
  }
}

@media (--pgn-size-breakpoint-max-width-lg) {
  .sidebar-column {
    // grid are inheriting dir="ltr" from the body, so we need to override it
    [dir=ltr] & {
      padding: 0 var(--pgn-spacing-spacer-3);
    }
    [dir=rtl] & {
      padding: 0 var(--pgn-spacing-spacer-3);
    }
  }
}
